<style>
    .container{
        background-color:#ABC9FF;
        padding:25px;
        width:800px;
    }
    input{
        width:100%;
        padding:12px 20px;
        margin:8px 0px;
        display:inline-block;
        border:2px solid green;
    }
    button{
        background-color: #FFDEDE;
        border:none;
        padding:15px;
        color:#EB4747;
        width:25%;
    }
</style>


<div class="container">
<h1 style="text-align: center;color:gray;">Shorten URL</h1>
<label style="text-align:center; margin:auto; display:inline-block;" for="OriUrl">Original Url</label>
<input style="text-align:center; margin:auto;display:inline-block;" [(ngModel)]=urlDetails.longUrl  name="longUrl" type="text" id="OriUrl"/>
<br/>
<br/>
<label style="text-align:center; margin:auto; display:inline-block;" for="Short">Short URL</label>
<input style="text-align:center; margin:auto;display:inline-block;" type="text" id="Short"/>
<br/>
<br/>
<button  (click)="shortUrl()"> Shorten</button>
<br><br><br>
<h3>Shortened Url : {{ urlDetails.shortUrl }}</h3>
<script>
    document.getElementById('Short').setAttribute('value',urlDetails.shortUrl);
    </script>
<br>
<br>

</div>


