<style>
    .container{
        background-color:#ABC9FF;
        padding:25px;
        width:800px;
    }
    input{
        width:100%;
        padding:12px 20px;
        margin:8px 0px;
        display:inline-block;
        border:2px solid green;
    }
    button{
        background-color: #FFDEDE;
        border:none;
        padding:15px;
        color:#EB4747;
        width:25%;
    }
</style>


<div class="container">
<h1 style="text-align: center; color:gray">Expand URL</h1>
<br/>
<label style="text-align:center; margin:auto; display:inline-block;" for="OriUrl">Short Url</label>
<input style="text-align:center; margin:auto;display:inline-block;" [(ngModel)]=urlDetails.shortUrl  name="shortUrl" type="text" id="OriUrl"/>
<br/>
<br/>
<button (click)="expandUrl()">Expand Url</button>
<br/>
<br/>
<h2>Original Url: {{ urlDetails.longUrl }}</h2>
<br>

<button (click)="verifyUrls()">Redirect</button>
</div>