<style>
    .container{
        background-color:#ABC9FF;
        padding:25px;
        width:800px;
    }
   
    button{
        background-color: #FFDEDE;
        border:none;
        padding:15px;
        color:#EB4747;
        width:25%;
    }
</style>

<form>
    <div class="container">
    <h1 style="text-align:center; color:gray">URL Options</h1>
    <div>
    <br/>
    <br/>
    <h4>Click on this Button to Register the User</h4>
    <br/>
    <button (click)="onRegister()">Register</button>
    <br/>
    <br/>
    <h4>Click on this Button to Login</h4>
    <br/>
    <button (click)="onLogin()">Login</button>
    </div>
    </div>
    </form>
